body{
	font-size: 130%;
	font-family: monospace;
}

#foto{
  visibility:visible;
}
.posicion{
  position: relative;
  left: 10%;
}
.img{
  display: inline-block;
}
img{
  width: 250px;
  height:250px;
  margin: 30px;
  border: 3px solid #FFFFFF;
}
