.fer{
    background: YELLOWGREEN;
    margin: 0;
    padding: 0;
}
.encabezadof {
    margin: 0;
    padding: 0;
    position: fixed;
    background: OLIVE;
    width: 100%;    
    text-align: center; 
    top: 0px;   
    
}

.linkf{
    font-weight: 700;
    padding: 21px;
    display: inline-block;
    text-decoration: none;
    font-size: 200%;  
    color: BLACK;
    font-family: 'Cinzel', serif;
}

#casaf{
    background-image: url(../img/ojoscat.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 554px;
    text-align: center;
    margin-top: 80px;
}
p {
    font-family: 'Cinzel', serif;
    text-align: justify;    
}
h2{
    font-family: 'Macondo', cursive;
}
img{
    width: 200px; height: 200px;
    
}
.sobremif{    
    width: 700px; height: 100px;
    display: block;
    
    

}
.interesesf{
    width: 200px; height: 200px;

}
.galeriaf{
    width: 300px; height: 300px;
}
article{
    display: inline-block;
    margin: 70px;
    
}