#perfilNancy{
	text-align: center;
}
#perfilNancy:hover{
	font-size: 80px;
	color: black; 
}
.imagenNancy{
	display: inline-block;
	border-radius: 50%;
	width:  180px;
	height: 180px;
	transform: scale(1.5);
	margin: 50px;
	border: 5px solid #059322;
	border-radius: 50%;
	margin-left: 200px;
}
#areasOportunidad{
	text-align: justify;
	font-size: 18px;
}
#textoNancy{
	font-size: 20px;
	text-align: justify;
	font-family: verdana,arial;
}
/*clases coders*/
.coders{
	display: inline-block;
	width: 100px;
	height: 50px;
	margin-left: 250px;

}
.coders:hover{
	transform: scale(1.5);
}
#coders1{
	margin-left:150px;
}
.contenedorNancy{
	display: inline-block;
	margin-bottom: 200px;
	margin-left: 300px;
}